@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #fbf0ff;
    font-family: 'Courier New', Courier, monospace;
}

header{
    background-color: #a58dbb;
}

header > h1{
    padding: 10px;
    text-align: center;
}

menu{
    display: none;
}

#burguer{
    display: block;
    background-color: #534463;
    color: #ffffffdc;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#burguer:hover{
    background-color: #2e2636;
    transition-duration:1s;
}

menu > ul{
    list-style: none;
}

menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #8a759e;
    color: aliceblue;
    border-top: 1px solid #fbf0ff;
}

menu > ul > li > a:hover{
    background-color: #534463;
    transition-duration: 1s;
    color: white;
}

main{
    width: 90vw;
    margin: auto;
    background-color: white;
    margin-top:10px;
    padding: 10px;
    border-radius: 20px;
}

article > h2{
    padding-bottom:10px;
}

article > p{
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
}