@charset "UTF-8";

/* Estilo para telas */

*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
}

h1{
    text-align: center;
    background-color: palevioletred;
}

menu{
    padding: 10px;
    background-color: lightpink;
}

li{
    display: inline-block;
    list-style-type: none;
    background-color: palevioletred;
    padding: 3px;
    border-radius: 4px;
}

article{
    display: block;
    margin: auto;
    padding: 10px;
    width: 600px;
}

h2{
    text-align: center;
    padding: 10px;
    background-color: lightgray;
    border-radius: 4px;
}

p{
    padding-top: 10px;
}