@charset "UTF-8";

@media print{
    body{
        background-image: url(../imagens/back-impressora.jpg);
    }

    body{
        font-family: 'Courier New', Courier, monospace;
    }

    main{
        border: 2px solid black;
    }


    #celular{
        display: none;
    }

    #impressao{
        display: block;
    }

}

@media screen and (min-width: 768px ) and (max-width: 1024px) { /* TABLET */
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }

    #celular{
        display: none;
    }

    #tablet{
        display: block;
    }
}

@media screen and (min-width: 1025px)  and (max-width: 1200px) { /* DESKTOP */
    body{
        background-image: url(../imagens/back-pc.jpg);
    }

   #celular{
        display: none;
    }

    #pc{
        display: block;
    }    
}

@media screen and (min-width: 1200px) { /* GRANDES TELAS */
    body{
        background-image: url(../imagens/back-tv.jpg);
    }

   #celular{
        display: none;
    }
    
    #tv{
        display: block;
    }   
    
}